site-layout
    @title -- PiggyBank | Home
    @body
        div#content
            div#form-wrapper
                h1.my-5 -- Authenticate with TrueLayer
                form action="/auth"
                    button.btn.btn-primary.btn-lg type="submit" -- Get Started!

style {

    #content {
        background-color: #eceeef;
        text-align: center;
        height: 100vh;
    }

    #form-wrapper {
        position: absolute;
        width: 100vw;
        top: 50%;
    }
}
