lasso-page package-path="./browser.json"

<!doctype html>
html lang="en"
	head
		meta charset="UTF-8"
		title -- Truelayer | Demo
        lasso-head
	body
		h1 -- Demo App
		div
			h1 -- Authenticate with TrueLayer
			form action="/auth"
				input type="submit" value="Get Started!"